html, body {
  margin: 0px;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer {
    grid-area: footer;
}

.sideBarItem {
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img {
	max-height: 50px;
	max-Width:50px;
}

.colourPalette {
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options {
	grid-area: options;
	padding: 15px;
}

button {
    padding: 10px;
    margin: 0 15px;
}

#outlineOnly, #fillOnly {
    background-repeat: no-repeat;
    background-position: center;
    height: 66px;
    width: 66px;
}

#lineWeightIndicator, #brushWeightIndicator {
    display: inline;
    padding: 5px 20px;
    background-color: rgb(200,200,200);
    color: black;
}


#textButton {
    width: 60px;
    margin-left: 15px;
}

#fullscreen {
    float: right;
}

.colourSwatches {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 70px 230px  minmax(500px, 1fr);
    grid-template-rows: 40px minmax(500px, 1fr) 160px;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "colourP colourP options";
    background-color: #fff;
    color: #363636;
	}
.box {
    background-color: #363636;
    color: #fff;
    font-size: 150%;
}

.header {
    background-color: #363636;
}